*{
    padding: 0;
    margin: 0;
}
header{
    align-items: center;
    justify-content: center;
    text-align: center;

}
.img-home{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.foto-perfil{
    width: 20px;
    height: 20px;
    
}
#imagem-home{
    float: left;
}
#home-imagem{
    float: right;
}

ul{
    display: flex;
    list-style: none;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 0 0 0 20vh;
}
